section .section-wrapper {
    position: relative;
    box-sizing: content-box;
}

.banner { position: relative; width: 100%;}

.banner .bgimg {
    position: relative;
    width: 100%;
    height: 60vh;
    background: #333;
    margin-top: 200px;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.searchBox {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 30px 50px;
    transform: translate(50%, 50%);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}
.searchBox .inputBox { margin: 0 20px; }
.searchBox .inputBox p { color: #333; margin-bottom: 10px;}
.searchBox .inputBox input { 
    border: 1px solid #333;
    padding: 10px;
    width: 100%;
    min-width: none;
    font-size: 1.1em;
}
.searchBox .inputBox input[type="submit"] {
    outline: none;
    border: none;
    background: lightgray;
    color: #333;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 13px;
}

/*Main Page Main Slider Start*/
.wrap-main-slider {
    position: relative;
    height: 450px;
    cursor:pointer;
    top: 220px;
    margin-bottom: 500px;
}
.wrap-main-slider .dimmed-left {
    position: absolute;
    top: 0;z-index: 20;
    height: 100%;
    background-color: rgba(37, 39, 41, 0.5);
    cursor: default;
    left: 0;
    right: 50%;
    margin-right: 599px;
}
.wrap-main-slider .dimmed-right {
    position: absolute;
    top: 0;
    z-index: 20;
    height: 100%;
    background-color: rgba(37, 39, 41, 0.5);
    cursor: default;
    left: 50%;right: 0;
    margin-left: 600px;
}
.wrap-main-slider .swiper-container.main-slider {
    width: 100%;
    height: 450px;
    position: absolute;
    left: -397px;
}
.wrap-main-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: antiquewhite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: red;
    width: 975px !important;
}

.about {margin: 100px 0;}